<a href="https://colab.research.google.com/github/Jayveersinh-Raj/Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data analysis CSV (importing and visualising them)

In [1]:
# import pandas
import pandas as pd

In [2]:
# To read a csv file 
df = pd.read_csv('petrol_consumption.csv')
df.head() # It will return us first 5 rows
# df.head(10) # it will give first 10 rows, just write the number of rows you want

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [3]:
# To get from backwards/tail
df.tail() # returns last 5, works same as head(), provide the number in bracket for the number of rows you want

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
43,7.0,3745,2611,0.508,591
44,6.0,5215,2302,0.672,782
45,9.0,4476,3942,0.571,510
46,7.0,4296,4083,0.623,610
47,7.0,5002,9794,0.593,524

In [4]:
# To get the info about the imported file
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Petrol_tax                    48 non-null     float64
 1   Average_income                48 non-null     int64
 2   Paved_Highways                48 non-null     int64
 3   Population_Driver_licence(%)  48 non-null     float64
 4   Petrol_Consumption            48 non-null     int64
dtypes: float64(2), int64(3)
memory usage: 2.0 KB

In [5]:
# To get the shape
df.shape

(48, 5)

In [6]:
# pd.set_option('display.max_columns', n) # n here means number of columns to want to see
# if you are not able to see more columns by sliding, this is what you want to use

# DataFrames and Series
### Series : Rows of a column
### DataFrame : Container of such mutliplr Series

In [7]:
# To convert our data into DataFrame we use the following
new_df = pd.DataFrame(df)
new_df.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [8]:
# Check the type
type(new_df['Petrol_tax']), type(new_df)

(pandas.core.series.Series, pandas.core.frame.DataFrame)

In [9]:
df['Petrol_tax'][:5] == df.Petrol_tax[:5] # You can use the dot notation as well

0    True
1    True
2    True
3    True
4    True
Name: Petrol_tax, dtype: bool

In [10]:
# Prefer the brackets way because it might happen that there is a method for the same column name
# One example is below
df.count

<bound method DataFrame.count of     Petrol_tax  Average_income  Paved_Highways  Population_Driver_licence(%)  \
0         9.00            3571            1976                         0.525
1         9.00            4092            1250                         0.572
2         9.00            3865            1586                         0.580
3         7.50            4870            2351                         0.529
4         8.00            4399             431                         0.544
5        10.00            5342            1333                         0.571
6         8.00            5319           11868                         0.451
7         8.00            5126            2138                         0.553
8         8.00            4447            8577                         0.529
9         7.00            4512            8507                         0.552
10        8.00            4391            5939                         0.530
11        7.50            5126           14186                         0.525
12        7.00            4817            6930                         0.574
13        7.00            4207            6580                         0.545
14        7.00            4332            8159                         0.608
15        7.00            4318           10340                         0.586
16        7.00            4206            8508                         0.572
17        7.00            3718            4725                         0.540
18        7.00            4716            5915                         0.724
19        8.50            4341            6010                         0.677
20        7.00            4593            7834                         0.663
21        8.00            4983             602                         0.602
22        9.00            4897            2449                         0.511
23        9.00            4258            4686                         0.517
24        8.50            4574            2619                         0.551
25        9.00            3721            4746                         0.544
26        8.00            3448            5399                         0.548
27        7.50            3846            9061                         0.579
28        8.00            4188            5975                         0.563
29        9.00            3601            4650                         0.493
30        7.00            3640            6905                         0.518
31        7.00            3333            6594                         0.513
32        8.00            3063            6524                         0.578
33        7.50            3357            4121                         0.547
34        8.00            3528            3495                         0.487
35        6.58            3802            7834                         0.629
36        5.00            4045           17782                         0.566
37        7.00            3897            6385                         0.586
38        8.50            3635            3274                         0.663
39        7.00            4345            3905                         0.672
40        7.00            4449            4639                         0.626
41        7.00            3656            3985                         0.563
42        7.00            4300            3635                         0.603
43        7.00            3745            2611                         0.508
44        6.00            5215            2302                         0.672
45        9.00            4476            3942                         0.571
46        7.00            4296            4083                         0.623
47        7.00            5002            9794                         0.593

    Petrol_Consumption
0                  541
1                  524
2                  561
3                  414
4                  410
5                  457
6                  344
7                  467
8                  464
9                  498
10                 580
11                 471
12                 525
13                 508
14                 566
15                 635
16                 603
17                 714
18                 865
19                 640
20                 649
21                 540
22                 464
23                 547
24                 460
25                 566
26                 577
27                 631
28                 574
29                 534
30                 571
31                 554
32                 577
33                 628
34                 487
35                 644
36                 640
37                 704
38                 648
39                 968
40                 587
41                 699
42                 632
43                 591
44                 782
45                 510
46                 610
47                 524  >

In [11]:
# Accessing mutlipe columns would require you to pass a list inside brackets
df[['Petrol_Consumption', 'Petrol_tax']].head() # So this will only show these 2 columns

   Petrol_Consumption  Petrol_tax
0                 541         9.0
1                 524         9.0
2                 561         9.0
3                 414         7.5
4                 410         8.0

In [12]:
# To get rows use iloc
print("The first row: ", df.iloc[0]) # 1st row
# for multiple rows use list like columns
print("\nFirst two: \n",df.iloc[[0,1]]) # 1st and 2nd row

The first row:  Petrol_tax                         9.000
Average_income                  3571.000
Paved_Highways                  1976.000
Population_Driver_licence(%)       0.525
Petrol_Consumption               541.000
Name: 0, dtype: float64

First two:
    Petrol_tax  Average_income  Paved_Highways  Population_Driver_licence(%)  \
0         9.0            3571            1976                         0.525
1         9.0            4092            1250                         0.572

   Petrol_Consumption
0                 541
1                 524

In [13]:
# Select rows and columns together using iloc, but iloc only take integres
# 1st parameter would be rows, and second would be columns
df.iloc[[0, 1], [0, 1]] # 2 Rows from first 2 columns

# Remember for multiple access, you need to pass them as a list

   Petrol_tax  Average_income
0         9.0            3571
1         9.0            4092

In [14]:
# loc allows us to pass column name as string
df.loc[[0,1], 'Petrol_tax']

0    9.0
1    9.0
Name: Petrol_tax, dtype: float64

In [15]:
# Value_counts() counts the value
df['Petrol_tax'].value_counts()

7.00     19
8.00     10
9.00      8
7.50      4
8.50      3
10.00     1
6.58      1
5.00      1
6.00      1
Name: Petrol_tax, dtype: int64

# Indexes : Set, Reset and Use

In [16]:
# We can use a column as an index, and experminet as long as we do not set inplace = True
df.set_index('Petrol_Consumption')

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%)
Petrol_Consumption,,,,
541,9.00,3571,1976,0.525
524,9.00,4092,1250,0.572
561,9.00,3865,1586,0.580
414,7.50,4870,2351,0.529
410,8.00,4399,431,0.544
457,10.00,5342,1333,0.571
344,8.00,5319,11868,0.451
467,8.00,5126,2138,0.553
464,8.00,4447,8577,0.529
498,7.00,4512,8507,0.552
580,8.00,4391,5939,0.530
471,7.50,5126,14186,0.525
525,7.00,4817,6930,0.574
508,7.00,4207,6580,0.545
566,7.00,4332,8159,0.608
635,7.00,4318,10340,0.586
603,7.00,4206,8508,0.572
714,7.00,3718,4725,0.540
865,7.00,4716,5915,0.724
640,8.50,4341,6010,0.677
649,7.00,4593,7834,0.663
540,8.00,4983,602,0.602
464,9.00,4897,2449,0.511
547,9.00,4258,4686,0.517
460,8.50,4574,2619,0.551
566,9.00,3721,4746,0.544
577,8.00,3448,5399,0.548
631,7.50,3846,9061,0.579
574,8.00,4188,5975,0.563
534,9.00,3601,4650,0.493
571,7.00,3640,6905,0.518
554,7.00,3333,6594,0.513
577,8.00,3063,6524,0.578
628,7.50,3357,4121,0.547
487,8.00,3528,3495,0.487
644,6.58,3802,7834,0.629
640,5.00,4045,17782,0.566
704,7.00,3897,6385,0.586
648,8.50,3635,3274,0.663
968,7.00,4345,3905,0.672
587,7.00,4449,4639,0.626
699,7.00,3656,3985,0.563
632,7.00,4300,3635,0.603
591,7.00,3745,2611,0.508
782,6.00,5215,2302,0.672
510,9.00,4476,3942,0.571
610,7.00,4296,4083,0.623
524,7.00,5002,9794,0.593

In [17]:
# But is would not be reflected in our data
df.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [18]:
# To reflect it use the below inplace = True
df.set_index('Petrol_Consumption', inplace = True)

In [19]:
df.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%)
Petrol_Consumption,,,,
541,9.0,3571,1976,0.525
524,9.0,4092,1250,0.572
561,9.0,3865,1586,0.580
414,7.5,4870,2351,0.529
410,8.0,4399,431,0.544

In [20]:
# Now we can access using these indexes
df.loc[410] # if it is string like email then use ' '

Petrol_tax                         8.000
Average_income                  4399.000
Paved_Highways                   431.000
Population_Driver_licence(%)       0.544
Name: 410, dtype: float64

In [21]:
# To reset use the following
df.reset_index(inplace = True)
df.head() # The more you run the code, and have no predefined index, then it will keep adding 2-3 times

,Petrol_Consumption,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%)
0,541,9.0,3571,1976,0.525
1,524,9.0,4092,1250,0.572
2,561,9.0,3865,1586,0.580
3,414,7.5,4870,2351,0.529
4,410,8.0,4399,431,0.544

In [23]:
# We can define an index column at the time of reading it
df = pd.read_csv('petrol_consumption.csv', index_col = 'Average_income')
df.head()

,Petrol_tax,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
Average_income,,,,
3571,9.0,1976,0.525,541
4092,9.0,1250,0.572,524
3865,9.0,1586,0.580,561
4870,7.5,2351,0.529,414
4399,8.0,431,0.544,410

# Sorting the indexes

In [26]:
# You can sort indexes
# df.sort_index() # Ascending for numbers & alphabatically for numbers
df.sort_index(ascending = False) # for descending and reverse alphabatically

,Petrol_tax,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
Average_income,,,,
5342,10.00,1333,0.571,457
5319,8.00,11868,0.451,344
5215,6.00,2302,0.672,782
5126,8.00,2138,0.553,467
5126,7.50,14186,0.525,471
5002,7.00,9794,0.593,524
4983,8.00,602,0.602,540
4897,9.00,2449,0.511,464
4870,7.50,2351,0.529,414
4817,7.00,6930,0.574,525
4716,7.00,5915,0.724,865
4593,7.00,7834,0.663,649
4574,8.50,2619,0.551,460
4512,7.00,8507,0.552,498
4476,9.00,3942,0.571,510
4449,7.00,4639,0.626,587
4447,8.00,8577,0.529,464
4399,8.00,431,0.544,410
4391,8.00,5939,0.530,580
4345,7.00,3905,0.672,968
4341,8.50,6010,0.677,640
4332,7.00,8159,0.608,566
4318,7.00,10340,0.586,635
4300,7.00,3635,0.603,632
4296,7.00,4083,0.623,610
4258,9.00,4686,0.517,547
4207,7.00,6580,0.545,508
4206,7.00,8508,0.572,603
4188,8.00,5975,0.563,574
4092,9.00,1250,0.572,524
4045,5.00,17782,0.566,640
3897,7.00,6385,0.586,704
3865,9.00,1586,0.580,561
3846,7.50,9061,0.579,631
3802,6.58,7834,0.629,644
3745,7.00,2611,0.508,591
3721,9.00,4746,0.544,566
3718,7.00,4725,0.540,714
3656,7.00,3985,0.563,699
3640,7.00,6905,0.518,571
3635,8.50,3274,0.663,648
3601,9.00,4650,0.493,534
3571,9.00,1976,0.525,541
3528,8.00,3495,0.487,487
3448,8.00,5399,0.548,577
3357,7.50,4121,0.547,628
3333,7.00,6594,0.513,554
3063,8.00,6524,0.578,577

In [27]:
df.head()

,Petrol_tax,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
Average_income,,,,
3571,9.0,1976,0.525,541
4092,9.0,1250,0.572,524
3865,9.0,1586,0.580,561
4870,7.5,2351,0.529,414
4399,8.0,431,0.544,410

In [28]:
# To save the sorting, use `inplace = True`
df.sort_index(inplace = True)

In [29]:
df.head()

,Petrol_tax,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
Average_income,,,,
3063,8.0,6524,0.578,577
3333,7.0,6594,0.513,554
3357,7.5,4121,0.547,628
3448,8.0,5399,0.548,577
3528,8.0,3495,0.487,487

# Filtering in Pandas

In [30]:
filt = (df['Petrol_tax'] == 8.0)

In [31]:
df[filt] # Returns us all the rows where Petrol_tax = 8.0

,Petrol_tax,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
Average_income,,,,
3063,8.0,6524,0.578,577
3448,8.0,5399,0.548,577
3528,8.0,3495,0.487,487
4188,8.0,5975,0.563,574
4391,8.0,5939,0.530,580
4399,8.0,431,0.544,410
4447,8.0,8577,0.529,464
4983,8.0,602,0.602,540
5126,8.0,2138,0.553,467
5319,8.0,11868,0.451,344

In [32]:
# Another way to do it
df[df['Petrol_tax'] == 8.0] # or df[df.Petrol_tax == 8.0]

,Petrol_tax,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
Average_income,,,,
3063,8.0,6524,0.578,577
3448,8.0,5399,0.548,577
3528,8.0,3495,0.487,487
4188,8.0,5975,0.563,574
4391,8.0,5939,0.530,580
4399,8.0,431,0.544,410
4447,8.0,8577,0.529,464
4983,8.0,602,0.602,540
5126,8.0,2138,0.553,467
5319,8.0,11868,0.451,344

In [43]:
# Lets see Petrol_consumption where Petrol_tax = 8.0
df.loc[filt, 'Petrol_Consumption'] # Works
# df[df.Petrol_tax == 8.0]['Petrol_Consumption'] Works 

# filt.Petrol_Consumption # Would not work because it is a series

Average_income
3063    577
3448    577
3528    487
4188    574
4391    580
4399    410
4447    464
4983    540
5126    467
5319    344
Name: Petrol_Consumption, dtype: int64

In [45]:
# Use of & and |
filt = (df['Petrol_tax'] == 8.0 ) & (df['Petrol_Consumption'] == 577)
# filt # A series
df[filt] # A DataFrame

,Petrol_tax,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
Average_income,,,,
3063,8.0,6524,0.578,577
3448,8.0,5399,0.548,577

In [47]:
# Other way of doing the same
df[(df['Petrol_tax'] == 8.0) & (df['Petrol_Consumption'] == 577)]

,Petrol_tax,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
Average_income,,,,
3063,8.0,6524,0.578,577
3448,8.0,5399,0.548,577

In [48]:
# The use of or
filt = (df['Petrol_tax'] == 8.0) | (df['Petrol_Consumption'] == 577)
df[filt]

,Petrol_tax,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
Average_income,,,,
3063,8.0,6524,0.578,577
3448,8.0,5399,0.548,577
3528,8.0,3495,0.487,487
4188,8.0,5975,0.563,574
4391,8.0,5939,0.530,580
4399,8.0,431,0.544,410
4447,8.0,8577,0.529,464
4983,8.0,602,0.602,540
5126,8.0,2138,0.553,467
5319,8.0,11868,0.451,344

In [49]:
# The other way
df[(df['Petrol_tax'] == 8.0) | (df['Petrol_Consumption'] == 577)]

,Petrol_tax,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
Average_income,,,,
3063,8.0,6524,0.578,577
3448,8.0,5399,0.548,577
3528,8.0,3495,0.487,487
4188,8.0,5975,0.563,574
4391,8.0,5939,0.530,580
4399,8.0,431,0.544,410
4447,8.0,8577,0.529,464
4983,8.0,602,0.602,540
5126,8.0,2138,0.553,467
5319,8.0,11868,0.451,344

In [50]:
# Use of Negation ~
df[(df['Petrol_tax'] == 8.0) & ~ (df['Petrol_Consumption'] == 577)] # Where petrol tax == 8.0 and Consumption is not 577

,Petrol_tax,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
Average_income,,,,
3528,8.0,3495,0.487,487
4188,8.0,5975,0.563,574
4391,8.0,5939,0.530,580
4399,8.0,431,0.544,410
4447,8.0,8577,0.529,464
4983,8.0,602,0.602,540
5126,8.0,2138,0.553,467
5319,8.0,11868,0.451,344